# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Flask stuff
instance/
.webassets-cache

# Distribution / packaging
dist/
build/
*.egg-info/

# Local development settings
.DS_Store
.idea/
.vscode/

# Logs
*.log 